@font-face {
    font-family: SFP;
    src: url(../fonts/SFPixelate.ttf);
}

@font-face {
    font-family: PIX;
    src: url(../fonts/PixeloidMono.ttf);
}

:root {
    --text-shadow-light:    -1.5px -1.5px  0 var(--color-white),
                            1.5px  -1.5px  0 var(--color-white),
                            -1.5px 1.5px   0 var(--color-white),
                            1.5px  1.5px   0 var(--color-white),
                            -1.5px 0       0 var(--color-white),
                            1.5px  0       0 var(--color-white),
                            0      1.5px   0 var(--color-white),
                            0      -1.5px  0 var(--color-white);
    --text-shadow-thin:     -1px -1px  0 var(--color-white),
                            1px  -1px  0 var(--color-white),
                            -1px 1px   0 var(--color-white),
                            1px  1px   0 var(--color-white),
                            -1px 0       0 var(--color-white),
                            1px  0       0 var(--color-white),
                            0      1px   0 var(--color-white),
                            0      -1px  0 var(--color-white);
    --text-shadow-green:    -1.5px -1.5px  0 var(--color-green),
                            1.5px  -1.5px  0 var(--color-green),
                            -1.5px 1.5px   0 var(--color-green),
                            1.5px  1.5px   0 var(--color-green),
                            -1.5px 0       0 var(--color-green),
                            1.5px  0       0 var(--color-green),
                            0      1.5px   0 var(--color-green),
                            0      -1.5px  0 var(--color-green);
    --text-shadow-blue:    -1.5px -1.5px  0 var(--color-blue),
                            1.5px  -1.5px  0 var(--color-blue),
                            -1.5px 1.5px   0 var(--color-blue),
                            1.5px  1.5px   0 var(--color-blue),
                            -1.5px 0       0 var(--color-blue),
                            1.5px  0       0 var(--color-blue),
                            0      1.5px   0 var(--color-blue),
                            0      -1.5px  0 var(--color-blue);
    --text-shadow-dark:    -1px -1px  0 black,
                            1px  -1px  0 black,
                            -1px 1px   0 black,
                            1px  1px   0 black,
                            -1px 0       0 black,
                            1px  0       0 black,
                            0      1px   0 black,
                            0      -1px  0 black;
}

body {
    color: black;
    font-family: PIX;
    /* letter-spacing: -1px; */
    /* text-shadow: 0 2px 0 #c8c8c8; */
}

.code {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'Source Code Pro', 'source-code-pro', monospace;
}

h2 {
    color: var(--color-darker-grey);
    font-size: 16pt;
    font-weight: normal;
    word-spacing: -3px;
}

h3 {
    text-transform: uppercase;
    user-select: none;
    margin: 0;
    font-size: 11pt;
    font-weight: normal;
    text-shadow: var(--text-shadow-light);
}

h4 {
    text-transform: capitalize;
    user-select: none;
    margin: 0;
    font-size: 12pt;
    font-weight: normal;
}

p, ul, li {
    /* margin-inline: 15px; */
    font-size: 10pt;
    line-height: 18px;
    word-spacing: -3px;
}
p.accent {
    color: var(--color-grey);
    font-size: 8pt;
    line-height: 14px;
}
p.no-margin {    
    margin: 0;
}

b, strong {
    font-weight: inherit;
    color: white;
    text-shadow: var(--text-shadow-blue);
}
p.accent b {
    color: white;
}

div.title h3, div.tile-title h3 {
    transform: translateY(-0.7em);
    line-height: 16px;
}
div.tile-title h3 {
    /* color: var(--color-blue); */
}
div.btn h3 {
    font-size: 10pt;
    text-align: center;
    line-height: 26px;
}
div.btn.small h3 {
    font-size: 9pt;
    line-height: 20px;
    text-shadow: var(--text-shadow-thin);
}
div.btn.wide h3 {
    font-size: 12pt;
}
div#right div#social div h3 {
    /* color: var(--color-green); */
    text-align: center;
    line-height: 69px;
    text-shadow: var(--text-shadow-light);
}
div#about div h3 {
    text-align: center;
    line-height: 82px;
    text-shadow: var(--text-shadow-light);
}
div#nav div.nav-link div h3, div#contact div.contact-link a h3 {
    font-size: 14pt;
    text-shadow: var(--text-shadow-thin);
}
div.card-letter h2 {
    user-select: none;
    margin: 0;
    font-size: 11pt;
}
div.card-letter.heart h2,
div.card-letter.diamond h2 {
    color: #e01212;
}

div#right div#code-editor div#output {
    font-size: 12px;
}
div#right div#code-editor div#output p {
    line-height: 15px;
}
/* div#right div#code-editor div#output p:first-child {
    margin-block-start: 0;
} */
div#right div#code-editor div#control div:last-child {
    color: var(--color-white);
    font-size: 8pt;
    line-height: 16px;
}

div#leaderboard div.tile:first-child div.game-rank {
    color: #e01212;
}
div#leaderboard div.tile div.game-name {
    font-weight: normal;
    font-size: 10pt;
    line-height: 14px;
    text-align: right;
    text-transform: capitalize;
    color: var(--color-light-grey);
}

a, a:visited {
    text-decoration: underline 1.5px;
    text-underline-offset: 1px;
    color: var(--color-blue);
}
/* div.nav-link a:hover h3 {
    transform: translateY(-12px);
} */