@media screen and (min-width: 1200px){
    #post-meta {
        float: unset;
        width: 1000px;
        height: auto;
        margin: 15px calc(50% - 500px) 50px;
    }
    #post-img {
        width: 1000px;
        margin: 15px calc(50% - 500px);
        box-shadow: inset 0 0 0 6px #ca3e47;
        overflow: hidden;
    }
}