@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-Regular.ttf');
    font-weight: 100;
}
@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-SemiBold.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Syne';
    src: url('../fonts/Syne-ExtraBold.ttf');
    font-weight: 700;
}

* {
    transition: opacity .3s;
    outline: unset;
    cursor: none !important;
}
*::selection {
    color: #72C156;
    /* text-shadow: 0px -5px 0px #72C156; */
}
:root {
    --app-height: 0%;
    --color-primary: #4F7CAC;
    --color-secondary: #BF9A73;
    --color-background: #DDE2E4;
    --color-text-black: #121617;
    --color-text-gray: #44474B;
    --font-bold: 700;
    --font-normal: 400;
    --font-light: 100;
}
body {
    font-family: 'Syne', -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, p {
    z-index: 10;
    margin: 0;
}
h1 {
    font-size: 26pt;
    font-weight: var(--font-bold);
    text-transform: capitalize;
    color: var(--color-text-black);
}
h2 {
    font-size: 26pt;
    font-weight: var(--font-normal);
    color: var(--color-text-black);
    line-height: 70px;
}
h3 {
    font-size: 22pt;
    font-weight: var(--font-normal);
    color: var(--color-text-black);
}
h4 {
    font-size: 15pt;
    font-weight: var(--font-normal);
    color: var(--color-text-gray);
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13pt;
    font-weight: var(--font-normal);
    color: var(--color-text-gray);
}
strong {
    color: var(--color-secondary);
    font-weight: inherit;
}
hr {
    clear: both;
    margin-top: 100px;
}
section {
    display: inline-block;
}
a {
    text-decoration: none;
    color: unset;
    padding: 20px;
    margin: -20px;
}

section div {
    position: relative;
}
div.background {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
    background-color: var(--color-background);
}

body div.background {
    height: 100%;
}
#cursor-holder {
    z-index: 100;
    position: absolute;
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
    transform: translate3d(0, 0, 0);
    pointer-events: none;
    mix-blend-mode: exclusion;
    overflow: visible;
    transition: all 0s;
}
#cursor-holder #cursor {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    mix-blend-mode: exclusion;
    transition: all 0s;
}

#nav-head {
    display: inline-block;
    width: 100%;
    height: 100%;
    min-height: 700px;
}
#nav-head h1 {
    position: absolute;
    bottom: 50%;
    width: 100%;
    margin: 0;
    text-align: center;
}
#nav-head #nav-menu-btn {
    float: left;
    width: 25px;
    height: 20px;
    margin: 30px 30px 0 50px;
}
#nav-head #nav-menu-btn img {
    width: 100%;
    height: 20px;
    margin: 5px;
}
#nav-head #nav-learn-more {
    display: block;
    width: 300px;
    height: 25px;
    line-height: 20px;
    bottom: 30px;
    position: absolute;
    left: calc(50% - 150px);
    text-align: center;
}
#nav-head #nav-menu {
    height: 30px;
    line-height: 30px;
    padding: 30px 5%;
    transition: unset;
}
#head-cube {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events: none;
}
#nav-head div a, #sec-foot nav a {
    font-size: 22pt;
    font-weight: 400;
    margin-right: 50px;
    color: var(--color-text-gray);
    height: 27px;
    line-height: 27px;
}
#nav-head div a strong, #sec-foot nav a strong {
    font-weight: inherit;
    border-bottom: solid;
}

#sec-profile {
    min-height: 50%;
}
#sec-profile h2 {
    margin: 100px 5%;
    color: var(--color-text-gray);
}
#sec-profile h2 strong {
    font-weight: 400;
    text-transform: uppercase;
    /* text-shadow: 0px 1px var(--color-background); */
}

#sec-blog, #sec-project {
    width: 100%;
}
#sec-blog article, #sec-project article {
    position: relative;
    background-color: var(--color-background);
    float: left;
    overflow: hidden;
    height: 500px;
}
/* #sec-blog article:hover, #sec-project article:hover {
    background-color: transparent;
} */
.atc-small {
    width: 50%;
}
.atc-small > a {
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 2;
}
#sec-blog article > a img, #sec-project article > a img {
    width: 100%;
    transform: translate(-50%, -50%);
    position: relative;
    left: 50%;
    top: 50%;
    pointer-events: none;
}
#sec-blog article:hover.atc-small > a,  #sec-project article:hover.atc-small > a {
    opacity: 0.05;
}
.atc-small div.atc-content {
    z-index: 1;
}
.atc-small div.atc-content:hover {
    color: white;
}
.atc-small div.atc-content div {
    position: absolute;
    padding: 0 50px;
    z-index: inherit;
}
.atc-small div.atc-content div:nth-child(1) {
    width: 85%;
    top: 250px;
}
.atc-small div.atc-content h3,
.atc-small div.atc-content h4 {
    margin: 10px 0 20px 5px;
}
.atc-small div.atc-content p {
    margin: 10px 5px;
    line-height: 30px;
    overflow: hidden;
}
.atc-small div.atc-content a.tag {
    padding: 2px 12px;
    margin: 0 0 5px 5px;
    color: var(--color-secondary);
    font-size: 9pt;
    border: solid 2px var(--color-secondary);
    border-radius: 50px;
    white-space: nowrap;
    display: inline-block;
    height: 16px;
    line-height: 16px;
}
.atc-small footer img {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.atc-small footer h4 {
    float: right;
    height: 20px;
    line-height: 20px;
    margin: 10px;
}

#sec-post {
    width: 60%;
    margin: 30px 20% 50px;
    overflow: hidden;
}

#sec-about {
    width: 100%;
}
#sec-about div.background {
    height: 650px;
    background-color: var(--color-text-black);
}
#sec-about #greeting {
    position: relative;
}
#sec-about #greeting div {
    padding: 100px 5% 25px;
}
#sec-about #greeting h2 {
    color: var(--color-background);
}
#sec-about #game-container {
    width: 100%;
    overflow: hidden;
    z-index: 10;
}
#sec-about #game-container * {
    pointer-events: none;
}
#sec-about #game-container #selfie {
    width: 100%;
    position: relative;
}
#sec-about #game-container svg {
    width: 100%;
}
#sec-about #game-cvs-container img {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 200px;
}
#sec-about #game-container #description {
    position: absolute;
    top: 0;
    width: 100%;
    height: 650px;
}
#sec-about #game-container #description h2#description-left {
    float: left;
    margin: 100px 0 25px 5%;
    width: 45%;
}
#sec-about #game-container #description h2#description-right {
    float: right;
    margin: 100px 5% 25px 0;
    width: 45%;
}
/* #sec-about #game-cvs-container {
    position: absolute;
    top: 0;
    height: 650px;
    transition: top 0s, left 0s, transform 1s;
    clip-path: url(#game);
} */

#sec-foot {
    clear: both;
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
}
#sec-foot #contact-me {
    height: 250px;
    padding: 15px;
}
#sec-foot #contact-me h3 {
    color: var(--color-background);
    text-align: center;
}
#sec-foot #contact-me div.social-account {
    text-align: center;
}
#sec-foot #contact-me div.social-account h3 {
    display: inline-block;
    margin: 60px;
    width: 100px;
    color: var(--color-text-black);
}

.stf-hidden {
    opacity: 0;
}
.stf-non-disp {
    display: none !important;
}